<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_nuevo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_nuevo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CineRec_App"
        tools:targetApi="31">
        <activity
            android:name=".model.MovieDetalle"
            android:exported="false" />
        <activity
            android:name=".view.ajustes.Ajustes"
            android:exported="false" />
        <activity
            android:name=".presenter.PelisApi"
            android:exported="false" />
        <activity
            android:name=".view.informacion.Informacion"
            android:exported="false" />
        <activity
            android:name=".view.contactos.Detalle_contacto"
            android:exported="false" />
        <activity
            android:name=".view.contactos.Agregar_Contacto"
            android:exported="false" />
        <activity
            android:name=".view.contactos.Actualizar_Contacto"
            android:exported="false" />
        <activity
            android:name=".view.contactos.Listar_Contactos"
            android:exported="false" />
        <activity
            android:name=".view.ajustes.ActualizarContra"
            android:exported="false" />
        <activity
            android:name=".view.perfil.Editar_imagen_perfil"
            android:exported="false" />
        <activity
            android:name=".view.peliculas.Detalle_Peli"
            android:exported="false"
            android:theme="@style/Theme.CineRec_App" />
        <activity
            android:name=".view.peliculas.Actualizar_Peli"
            android:exported="false" />
        <activity
            android:name=".view.perfil.Perfil_Usuario"
            android:exported="false" />
        <activity
            android:name=".view.peliculas.Pelis_Favoritas"
            android:exported="false" />
        <activity
            android:name=".view.peliculas.Listar_Peli"
            android:exported="false" />
        <activity
            android:name=".view.peliculas.Agregar_Peli"
            android:exported="false" />
        <activity
            android:name=".view.main.MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".view.auth.Registro"
            android:exported="false" />
        <activity
            android:name=".view.auth.Login"
            android:exported="false" />
        <activity
            android:name=".view.auth.PantallaCarga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>